<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snowplowanalytics.snowplow.tracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--Enable the permissions below for getting users geographical location.-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application android:allowBackup="true"
        android:label="snowplow-android-tracker">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
