<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snowplowanalytics.snowplow.tracker.rx">


    <application android:allowBackup="true"
        android:label="snowplow-android-tracker-rx"  tools:replace="android:label">



    </application>

</manifest>
