name: Build

on: [push]

jobs:
  test:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        api-level:
          - 24
          - 30
          - 34

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Run Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: x86_64
          script: |
            adb logcat -c
            adb logcat > logcat.log &
            ./gradlew createDebugCoverageReport
        env:
          API_LEVEL: ${{ matrix.api-level }}

      - name: Load logs if failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: logcat-${{ matrix.api-level }}
          path: logcat.log

      - name: Load code coverage report
        if: success() && matrix.api-level == '24'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: ./gradlew coveralls
