name: Deploy

on:
  push:
    tags:
    - '*.*.*'

jobs:
  deploy:
    runs-on: macos-latest

    permissions:
      contents: read

    env:
      SONA_USER: ${{ secrets.SONA_USER }}
      SONA_PASS: ${{ secrets.SONA_PASS }}
      ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SONA_PGP_PASSPHRASE }}
      ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SONA_PGP_SECRET }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Build
        run: ./gradlew assembleRelease

      - name: Get tag and tracker version information
        id: version
        run: |
          echo "TAG_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "TRACKER_VERSION=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Fail if version mismatch
        if: ${{ steps.version.outputs.TAG_VERSION != steps.version.outputs.TRACKER_VERSION }}
        run: |
          echo "Tag version (${{ steps.version.outputs.TAG_VERSION }}) doesn't match version in project (${{ steps.version.outputs.TRACKER_VERSION }})"
          exit 1

      - name: Publish
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
