name: Snyk

on:
  push:
    branches: [ master ]

jobs:
  security:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Install Snyk
        run: sudo npm install -g snyk

      - name: Run Snyk to check for vulnerabilities in tracker
        run: snyk monitor --all-sub-projects --configuration-matching='releaseRuntimeClasspath'
